In [20]:
import pandas as pd

a=pd.Series([2,4,6,8,10])
print(a)
print("-------------------------------")

b=pd.Series([2,4,6,8,10],index=["a","b","c","d","e"])
print(b)
print("-------------------------------")

dict={"a":2,"b":4,"c":6,"d":8,"e":10}
print(pd.Series(dict),"\n")
print("-------------------------------")

import numpy as np
arr=np.array([2,4,6,8,10])
pd.Series(arr)

d=pd.Series(5,index=[0,1,2,3,4])
print(d)

print("-------------------------------")

s=pd.Series([1,2,3,4,5],index=["a","b","c","d","e"])
print(s[0])
print("-------------------------------")

print(s[:3])
print("-------------------------------")

print(s[2:])

print("-------------------------------")

print(s['a'])
print(s[['b','c','d']])

0     2
1     4
2     6
3     8
4    10
dtype: int64
-------------------------------
a     2
b     4
c     6
d     8
e    10
dtype: int64
-------------------------------
a     2
b     4
c     6
d     8
e    10
dtype: int64

-------------------------------
0    5
1    5
2    5
3    5
4    5
dtype: int64
-------------------------------
1
-------------------------------
a    1
b    2
c    3
dtype: int64
-------------------------------
c    3
d    4
e    5
dtype: int64
-------------------------------
1
b    2
c    3
d    4
dtype: int64

In [33]:
#Data Frame
import pandas as pd
p=pd.DataFrame([1,2,3,4,5],index=[11,22,33,44,55],columns=["1"])
print(p)
print("-------------------------------")

df=pd.DataFrame([["Harshad",20],["kalpak",20],["mayur",25]],columns=["Name","Age"])
print(df)
print("-------------------------------")

df1=pd.DataFrame([{"Name":["A","B","C","D"],"Age":[20,21,25]}])
print(df1)
print("-------------------------------")
df2=pd.DataFrame([{'Name':'Harshad','Age':20},{'Name':'Kalpak','Age':20},{}])
print(df2)

    1
11  1
22  2
33  3
44  4
55  5
-------------------------------
      Name  Age
0  Harshad   20
1   kalpak   20
2    mayur   25
-------------------------------
            Age          Name
0  [20, 21, 25]  [A, B, C, D]
-------------------------------
    Age     Name
0  20.0  Harshad
1  20.0   Kalpak
2   NaN      NaN

In [2]:
#student
#create using dictonary
import pandas as pd
student={'roll no':[1,2,3,4],'name':['harshad','kalpak','mayur','arjun'],'batch':['python','python','java','php'],'theory':[33,30,29,33],'practicle':[50,50,40,40],'internal marks':[18,19,18,10],
 'total':[93,99,87,83],"result":['pass','pass','pass','pass']}
student=pd.DataFrame(student)
print(student)
print("-----------------------------------------------------------------------------------------------------------------")
#create using list

studlist=[(1,'harshad','python',33,50,18,93,'pass'),(2,'kalpak','python',30,50,19,99,'pass'),(3,'mayur','java',29,40,18,87,'pass'),(4,'arjun','php',33,40,10,83,'pass')]
index=["roll_no","name","batch","theory","practicle","internal","total","result"]
student1=pd.DataFrame(studlist,columns=index)
print(student1)
df1=pd.DataFrame


#operations
print("only one row\n",student.loc[0][0])
print(student.iat[0,0])
print("-----------------------------------------------------------------------------------------------------------------")
print(student.iloc[0]['name'])
#print(student.iat[0,'kalpak'])
print(student.loc[0])
print("-----------------------------------------------------------------------------------------------------------------")
print(student.iloc[ 0:4])

print(student.iloc[ 0:4]['name'])
print("-----------------------------------------------------------------------------------------------------------------")

#display all name and result
print(student[['name','batch']])


#user input

   roll no     name   batch  theory  practicle  internal marks  total result
0        1  harshad  python      33         50              18     93   pass
1        2   kalpak  python      30         50              19     99   pass
2        3    mayur    java      29         40              18     87   pass
3        4    arjun     php      33         40              10     83   pass
-----------------------------------------------------------------------------------------------------------------
   roll_no     name   batch  theory  practicle  internal  total result
0        1  harshad  python      33         50        18     93   pass
1        2   kalpak  python      30         50        19     99   pass
2        3    mayur    java      29         40        18     87   pass
3        4    arjun     php      33         40        10     83   pass
only one row
 1
1
-----------------------------------------------------------------------------------------------------------------
harshad
roll no                 1
name              harshad
batch              python
theory                 33
practicle              50
internal marks         18
total                  93
result               pass
Name: 0, dtype: object
-----------------------------------------------------------------------------------------------------------------
   roll no     name   batch  theory  practicle  internal marks  total result
0        1  harshad  python      33         50              18     93   pass
1        2   kalpak  python      30         50              19     99   pass
2        3    mayur    java      29         40              18     87   pass
3        4    arjun     php      33         40              10     83   pass
0    harshad
1     kalpak
2      mayur
3      arjun
Name: name, dtype: object
-----------------------------------------------------------------------------------------------------------------
      name   batch
0  harshad  python
1   kalpak  python
2    mayur    java
3    arjun     php

In [5]:
import pandas as pd
df1=pd.DataFrame({'roll no':[1,2,3,4,5],'name':['a1','a2','a3','a4','a5'],'Subject':['sub1','sub2','sub4','sub6','sub5']})
print(df1)
print("\n")

df2=pd.DataFrame({'roll no':[1,2,3,4,5],'name':['b1','b2','b3','b4','b5'],'Subject':['sub2','sub4','sub3','sub6','sub5']})
print(df2)
print("\n")
df3=pd.merge(df1,df2)
print("merge df1 and df2\n",df3)
print("\n")
df3=pd.merge(df1,df2,on='Subject',how='inner')
print("Display sam subject:\n",df3)
print("\n")
df3=pd.merge(df1,df2,on='Subject',how='outer')
print("Display all subject:\n",df3)
print("\n")
df3=pd.merge(df1,df2,on='Subject',how='left')
print("\n")
df4=pd.merge(df1,df2,on='Subject',how='right')
print(df4)
print("\n")


df5=pd.merge(df1,df2,on='Subject',how='right',sort='True')
print(df5)
#df3=pd.merge(df1,df2,on='Subject',how='left')
#print(df3)

#Concat operations
a=pd.concat([df1,df2])
print(a)

   roll no name Subject
0        1   a1    sub1
1        2   a2    sub2
2        3   a3    sub4
3        4   a4    sub6
4        5   a5    sub5


   roll no name Subject
0        1   b1    sub2
1        2   b2    sub4
2        3   b3    sub3
3        4   b4    sub6
4        5   b5    sub5


merge df1 and df2
 Empty DataFrame
Columns: [roll no, name, Subject]
Index: []


Display sam subject:
    roll no_x name_x Subject  roll no_y name_y
0          2     a2    sub2          1     b1
1          3     a3    sub4          2     b2
2          4     a4    sub6          4     b4
3          5     a5    sub5          5     b5


Display all subject:
    roll no_x name_x Subject  roll no_y name_y
0        1.0     a1    sub1        NaN    NaN
1        2.0     a2    sub2        1.0     b1
2        3.0     a3    sub4        2.0     b2
3        4.0     a4    sub6        4.0     b4
4        5.0     a5    sub5        5.0     b5
5        NaN    NaN    sub3        3.0     b3




   roll no_x name_x Subject  roll no_y name_y
0        2.0     a2    sub2          1     b1
1        3.0     a3    sub4          2     b2
2        4.0     a4    sub6          4     b4
3        5.0     a5    sub5          5     b5
4        NaN    NaN    sub3          3     b3


   roll no_x name_x Subject  roll no_y name_y
0        2.0     a2    sub2          1     b1
1        NaN    NaN    sub3          3     b3
2        3.0     a3    sub4          2     b2
3        5.0     a5    sub5          5     b5
4        4.0     a4    sub6          4     b4
   roll no name Subject
0        1   a1    sub1
1        2   a2    sub2
2        3   a3    sub4
3        4   a4    sub6
4        5   a5    sub5
0        1   b1    sub2
1        2   b2    sub4
2        3   b3    sub3
3        4   b4    sub6
4        5   b5    sub5

In [10]:
# Python program to concatenate 
# dataframes using Panda 
  
# Creating first dataframe 
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3'], 
                    'C': ['C0', 'C1', 'C2', 'C3'], 
                    'D': ['D0', 'D1', 'D2', 'D3']}, 
                    index = [0, 1, 2, 3]) 
  
# Creating second dataframe 
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'], 
                    'B': ['B4', 'B5', 'B6', 'B7'], 
                    'C': ['C4', 'C5', 'C6', 'C7'], 
                    'D': ['D4', 'D5', 'D6', 'D7']}, 
                    index = [4, 5, 6, 7]) 
  
# Creating third dataframe 
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'], 
                    'B': ['B8', 'B9', 'B10', 'B11'], 
                    'C': ['C8', 'C9', 'C10', 'C11'], 
                    'D': ['D8', 'D9', 'D10', 'D11']}, 
                    index = [8, 9, 10, 11]) 
  
# Concatenating the dataframes 
pd.concat([df1, df2, df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [14]:
# Concatenating the dataframes 
pd.concat([df1, df2, df3]) 

# Python program to merge 
# dataframes using Panda 
  
# Dataframe created

left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 
                    'A': ['A0', 'A1', 'A2', 'A3'], 
                    'B': ['B0', 'B1', 'B2', 'B3']}) 
  
right = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'], 
                      'C': ['C0', 'C1', 'C2', 'C3'], 
                        'D': ['D0', 'D1', 'D2', 'D3']}) 
                        
# Merging the dataframes                       
pd.merge(left, right, how ='inner', on ='Key')

# Joining the dataframes                       
left.join(right)

ValueError: columns overlap but no suffix specified: Index(['Key'], dtype='object')

In [9]:
import pandas as pd 
A=pd.read_excel("student.xlsx",index_col=0)
print(A)
print("\n")
b=pd.read_excel("student.xlsx",index_col=None,header=None)
print(b)

excel file display

          rollno name
subject
sub1          1    a
sub2          2    b
sub3          3    c
sub4          4    d


        0     1        2
0  rollno  name  subject
1       1     a     sub1
2       2     b     sub2
3       3     c     sub3
4       4     d     sub4